# Python
backend/venv/
__pycache__/
*.py[cod]
*$py.class

# Database files
backend/*.db
*.sqlite3
*.sqlite

# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac OS
.DS_Store
